body{
    height: 100vh;
    width: 100vw;
    background-image: url(7fe96b6856df1976678d015883238cfd.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;      
    height: 100vh; 
}
.main-container{
    height: 50vh;
    width: 50%;
    display: flex;
    margin: auto;
    flex-direction: column;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(20px); 
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

h4{
    font-family: "Josefin Slab";
    font-weight: 700;
    font-size: large;
    color: white;
}

h1{
    font-family:"Rancho";
    text-decoration: underline;
    color:rgb(193, 151, 25);
    
}
.header{
    display: flex;
    align-items: center;
    margin-left: -7rem;
}
.chance{
    margin-right: 3rem;
}
.input{
    height: 10px;
    width: 350px;
    border-radius: 40px;
    border:3px solid black;
    outline: none;
    padding: 1rem;
}
.btn{
    height: 3rem;
    width: 150px;
    font-size: larger;
    margin-top: 2rem;
    border-radius: 30px;
    outline: none;
    background-color:#000;
    color: aliceblue;
    transition:background-color 1s, color 1s;
}
.btn:hover{
    background-color: white;
    color: #000;
}
@media (max-width: 500px){
    .container{
        width: 90%;
        height: auto;
        margin: 10px;
    }
    .input{
        width: 50%;
        height: auto;
    }
    .btn{
        width: 50%;
        height: auto;
    }
    .header{
        width: 10%;
        justify-content: space-between;
    }
    .header h1{
        font-size: large;
    }
    .header .chance{
        margin-right: 5rem;
        margin-left: -5rem;
    }

}


