.container{
    height: 20rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    border: 5px solid #3D550C;
    margin: 10% auto;
    border-radius: 2rem 2rem 0 0;
    justify-content:baseline;
    align-items: center;
}
h1{
    color: #81B622;
    font-family:'Courier New', Courier, monospace;
}
.header{
    display: flex;
    align-items: center;
    margin-left: -7rem;
}
.chance{
    margin-right: 3rem;
}
.input{
    height: 10px;
    width: 350px;
    border-radius: 40px;
    outline: none;
    padding: 1rem;
}
.btn{
    height: 3rem;
    width: 150px;
    font-size: larger;
    margin-top: 2rem;
    border-radius: 10px;
    outline: none;
    border: 2px solid #3D550C;
    background-color: #59981A;
    box-shadow: 2px 3px 10px 1px;
    transition: 10ms ease-in-out;
}
.btn:hover{
    transform: scale(1.1);
}
@media (max-width: 500px){
    .container{
        width: 90%;
        height: auto;
        margin: 10px;
    }
    .input{
        width: 50%;
        height: auto;
    }
    .btn{
        width: 50%;
        height: auto;
    }
    .header{
        width: 10%;
        justify-content: space-between;
    }
    .header h1{
        font-size: large;
    }
    .header .chance{
        margin-right: 5rem;
        margin-left: -5rem;
    }
}